.body {
    background-image: url(birthday_picture.svg);
    background-repeat: no-repeat;
    background-size : cover;
}
.heading {
    font-family: 'Monoton', cursive;
    color : #FF0000;
    text-align: center;
    font-size: 3rem;
}
#input {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
}

#button {
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    margin : auto;
    display:block;
}
.result {
    text-align: center;
}
